table{
    width: 600px;
    height: 600px;
    border: 20px solid #3e3e3e;
    border-collapse: collapse;
}
td{
    border: 10px solid #3e3e3e;
}

.white {
    background-color: rgb(255,255,255);
}
.black {
    background-color: rgb(0, 0, 0);
}
.blue{
    background-color: rgb(0, 0, 255);
}
.yellow{
    background-color: rgb(255, 255, 0);
}
.red{
    background-color: rgb(255, 0, 0);
}
